* {
    font-weight: 400;
}
.main-view {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}
#view-shadow {
    position: fixed;
    display: none;
    visibility: hidden;
    top: 0;
    left: 0;
    // width: calc(100% - 275px);
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5%);
    z-index: 3000;
}
body {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: $size-n;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-color: #fff;
}

h1 {
    font-size: $size-head-xl;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: calc(#{$size-head-l} - 10%);
    letter-spacing: 0.1rem;
}

h3 {
    text-transform: uppercase;
    color: $base-color;
    font-weight: normal;
    font-size: $size-l;
}

h4 {
    text-transform: uppercase;
    color: #fff;
}

i {
    color: $base-color;
    font-size: $size-head-n;
}

p {
    line-height: $size-xl;
}

a {    
    text-decoration: none;
    color: $base-color;
}

ul {
    padding: 0;
    list-style: none;
    color: #fff;
}

strong {
    letter-spacing: 0.05rem;
}