.main-carousel {
    display: none;
    height: 86.5vh;
    background-image: linear-gradient(90deg, rgba(0,0,0,.9) , rgba(0,0,0,.2) 70%, rgba(0,0,0,0)), url("img/main-carousel-web.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: $size-xs;
    padding-right: $size-xs;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.75);
    margin-top: 13.5vh;
    &:first-child {
      display: flex;
    }
}

@include depart-carousel;
.car {
    margin: auto $size-n;
    color: #fff;
    flex-basis: auto;
    max-width: 940px;
    p {
        font-size: $size-l;
        line-height: $size-head-l;
    }
    .btn {
        margin-top: $size-l;
        font-size: $size-l;
        padding: $size-l;
        // background-color: #926FB1;
        // &:hover {
        //     background-color: darken(#926FB1, 10%);
        // }
        
    }
    i {
        padding-left: $size-n;
        font-size: $size-l;
        color: #fff;
    }
}


.slick-initialized .slick-slide {
    display: grid;
    justify-content: center;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    position: absolute;
    bottom: 5%;
    li {
        button {
            position: relative;
        }
        button::before {
            content: "";
            left: 2px;
            top: 1px;
            width: 16px;
            height:16px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    li.slick-active {
        button::before {
            color: #fff;
        }
        button::after {
            content: "";
            display: block;
            position: absolute;
            top: -15%;
            right: -10%;
            width: $size-l;
            height: $size-l;
            border: solid 2px rgba($color: #fff, $alpha: .75);
            border-radius: 50%;
        }
    }
}

