
//sets color for all department based changes in the services section.
@mixin depart-service {
    @each $dep, $val in $departments {
        &.#{$dep} i,
        &.#{$dep} .btn { 
            background-color: $val;
        }
        &.#{$dep}:hover {
            background-color: $val;
            color: #fff;
            i {
                color: $val;
                background-color: #fff;
            }
            .btn {
                background-color: #fff;
                color: $val;
            }
            h3::after {
                border: 1.5px solid #fff;
            }
            h3 {
                color: #fff;
            }
        }
    }
}

//sets color for the 3 selected departments based changes in the cards section. requires 3 inputs, currently through CSS, will change to html for easier editing.
@mixin depart-card ($dep-first, $dep-second, $dep-third) {
    $dep-multi: (
        'first' : $dep-first,
        'second' : $dep-second,
        'third' : $dep-third
    );
    @each $num, $dep in $dep-multi {
        .#{$num}-card {
            .tag,
            .btn {
                background-color: map-get($departments, $dep);
            }
            .btn:hover {
                background-color: darken(map-get($departments, $dep), 10%)
            }
            a.card-head {
                color: map-get($departments, $dep);
            }
        }
    }
}

//changes color for all departments in the navigaion.
@mixin depart-nav {
    @each $dep, $val in $departments {
        .nav-#{$dep} {
            i {
                color: $val;
            }
            &:hover {
                background-color: $val;
                i {
                    color: #fff;
                }
            }
        }
        .sub-#{$dep} {
            background-color: darken($val, 10%);
        }
    }
}