
//sets color for all department based changes in the services section.
@mixin depart-service {
    @each $dep, $val in $departments {
        &.#{$dep} i,
        &.#{$dep} .btn { 
            background-color: $val;
        }
        &.#{$dep}:hover {
            background-color: $val;
            color: #fff;
            i {
                color: $val;
                background-color: #fff;
            }
            .btn {
                background-color: #fff;
                color: $val;
            }
            h3::after {
                border: 1.5px solid #fff;
            }
            h3 {
                color: #fff;
            }
        }
    }
}

//sets color for all department based changes in the cards section.
@mixin depart-card {
    @each $dep, $val in $departments {
        .#{$dep}-card {
            .tag,
            .btn {
                background-color: $val;
            }
            .btn:hover {
                background-color: darken($val, 10%)
            }
            a.card-head {
                color: $val;
            }
        }
    }
}

//sets color for all department based changes in the carousel.
@mixin depart-carousel {
    @each $dep, $val in $departments {
        .car-#{$dep} {
            .btn {
                background-color: $val;
            }
            .btn:hover {
                background-color: darken($val, 10%)
            }
        }
    }
}


//changes color for all departments in the navigation.
@mixin depart-nav {
    @each $dep, $val in $departments {
        .nav-#{$dep} {
            i {
                color: $val;
            }
            &:hover {
                background-color: $val;
                i {
                    color: #fff;
                }
            }
        }
        .sub-#{$dep} {
            background-color: darken($val, 10%);
        }
    }
}