$base-color: #333645;
$off-base-color: #666;

//Declaring all base sizings used across size
$size-head-xxl: 3.815rem; // (61.04px)
$size-head-xl: 3.052rem; // (48.83px)
$size-head-l: 2.441rem; // (39.06px)
$size-head-n: 1.953rem; // (31.25px)
$size-xl: 1.563rem; // (25.00px)
$size-l: 1.25rem; // (20.00px)
$size-n: 1rem; // (16.00px)
$size-s: 0.8rem; // (12.80px)
$size-xs: 0.64rem; // (10.24px)
$size-xxs: 0.512rem; // (8.19px)

$size-head-xxl: 3.815rem; // (61.04px)
$size-head-xl: 3.052rem; // (48.83px)
$size-head-l: 2.441rem; // (39.06px)
$size-head-n: 1.953rem; // (31.25px)
$size-xl: 1.563rem; // (25.00px)
$size-l: 1.25rem; // (20.00px)
$size-n: 1rem; // (16.00px)
$size-s: 0.8rem; // (12.80px)
$size-xs: 0.64rem; // (10.24px)
$size-xxs: 0.512rem; // (8.19px)

$departments: (
    'web' : #926FB1, 
     'it' : #4183D7,
    'tel' : #D64541,
    'sof' : #67809F,
    'mar' : #2ECC71,
    'sec' : #F62459
    );


    